<!DOCTYPE html>
<html lang="es">
    <head>
	<meta property="og:image" content="http://master-arquitectura-efimera.com/efimera.png">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta name="robots" content="INDEX, FOLLOW">
	<title>Efímeras</title>
	<link rel="shortcut icon" href="{{ asset('favicon_negro.ico') }}">
	<script type="text/javascript" src="{{ asset('front/js/jquery-1.7.2.min.js') }}"></script>
	<style type="text/css"></style>
	<script type="text/javascript" src="{{ asset('front/js/jquery.mousewheel-3.0.4.pack.js') }}"></script>
	<script type="text/javascript" src="{{ asset('front/js/jquery.jscrollpane.min.js') }}"></script>
	<script type="text/javascript" src="{{ asset('front/js/jquery.backstretch.min.js') }}"></script>
	<script type="text/javascript" src="{{ asset('front/js/scrollable.min.js') }}"></script>
	<script type="text/javascript" src="{{ asset('front/js/jquery.nivo.slider.pack.js') }}"></script>
	<script type="text/javascript" src="{{ asset('front/js/page_function.js') }}"></script>
	{#<script type="text/javascript" src="{{ asset('front/js/lightbox.js') }}"></script>#}
	<script type="text/javascript" src="{{ asset('front/js/generales.js') }}"></script>
        <script type="text/javascript" src="{{ asset('front/js/busqueda.js') }}"></script>
	<script src="{{ asset('front/SlickNav/jquery.slicknav.min.js') }}"></script>
	
	<script type="text/javascript">
	var direccionBuscar = "{{path('project_front_search')}}";
	var direccionBotonesMensaje = "{{path('project_front_botones_mensaje')}}";
	var direccionBotonesNewsletter = "{{path('project_front_botones_newsletter')}}";
	</script>

	<meta name="description" content="El equipo de Efímeras está formado por un grupo de profesionales procedentes de diferentes disciplinas de la Escuela Técnica Superior de Arquitectura de Madrid, como son: arquitectos, diseñadores gráficos e industriales, artistas plásticos y de audiovisuales, técnicos de luz y proyecciones, psicólogos, escenógrafos, especialistas en gestión y nuevos medios de comunicación, paisajistas e historiadores.">
	<meta name="keywords" content="Efimeras, madrid, realego">
	<meta name="author" content="Realego">

	<script>
	{%block imagenes%}
	
	{%endblock%}

	</script>
	<meta name="viewport" content="width=device-width" />
	<link rel="stylesheet" type="text/css" media="screen" href="{{ asset('front/css/style.css') }}">
	<link rel="stylesheet" type="text/css" media="screen" href="{{ asset('front/css/jquery.jscrollpane.css') }}">
	<link rel="stylesheet" type="text/css" media="screen" href="{{ asset('front/css/lightbox.css') }}">
	<link rel="stylesheet" href="{{ asset('front/SlickNav/slicknav.css') }}" />
	<script type="text/javascript">
		$(document).ready(function() {
			var x = $('.logobotones').css('background-color');
			$('.menu-hidden').css('background',x);
			$('a',this).mouseenter(function(){
				$(this).css('color',x);
			});
			$('a',this).mouseleave(function(){
				$(this).css('color','white');
			});
			$('.active').css('color',x);
			
			$('#logo-image').mouseenter(function() {
				$('#logo-image').attr("src", "{{asset('front/images/logo.gif')}}" );
			});
			$('#logo-image').mouseleave(function() {
				$('#logo-image').attr("src", "{{asset('front/images/logo-movible.gif')}}" );
			});

			$('#menuobligado').mouseover(function() {
				$('.slicknav_icon-bar', this).css('background-color', 'black');
				$('.slicknav_nav a',this).css('color', 'black');
				$('.logo-movil').attr('src',"{{asset(front/images/logo-negro.png)}}");
				$('.slicknav_nav',this).css('display','block');
				$('#menuobligado2 .slicknav_nav').css('display','none');
				$('#menuobligado3 .slicknav_nav').css('display','none');
			});
				

			$('#menuobligado').mouseout(function() {
				$('.slicknav_icon-bar', this).css('background-color', 'white');
				$('.slicknav_nav a',this).css('color', 'white');
				$('.logo-movil').attr('src',"{{asset(front/images/logo.gif)}}");
				$('.slicknav_nav',this).css('display','none');			
			});
			
			$('#menuobligado2').mouseover(function() {
				$('.slicknav_icon-bar', this).css('background-color', 'black');
				$('.slicknav_nav a',this).css('color', 'black');
				$('.slicknav_menutxt',this).css('color', 'black');
				$('.slicknav_nav',this).css('display','block');
				$('#menuobligado .slicknav_nav').css('display','none');
				$('#menuobligado3 .slicknav_nav').css('display','none');
				
			});
			$('#menuobligado2').mouseout(function() {
					$('.slicknav_icon-bar', this).css('background-color', 'white');
				$('.slicknav_nav a',this).css('color', 'white');
				$('.slicknav_menutxt',this).css('color', 'white');
				$('.slicknav_nav',this).css('display','none');		
				
			});
			$('#menuobligado3').mouseover(function() {
				$('.slicknav_icon-bar', this).css('background-color', 'black');
				$('.slicknav_nav a',this).css('color', 'black');
				$('h1',this).css('color', 'black');
				$('.slicknav_nav',this).css('display','block');
				$('#menuobligado .slicknav_nav').css('display','none');
				$('#menuobligado2 .slicknav_nav').css('display','none');
				
				
			});
			$('#menuobligado3').mouseout(function() {
				$('.slicknav_icon-bar', this).css('background-color', 'white');
				$('.slicknav_nav a',this).css('color', 'white');
				$('h1',this).css('color', 'white');
				$('.slicknav_nav',this).css('display','none');		
				
			});
		});

	</script>
</head>

	{%block body%}
	{%endblock%}
	{% include 'ProjectFrontBundle:Helpers:modales.html.twig' %}
</html>