<div class="{{clase}}" style="background-color: {{page.theme.color}};">
	<div class="minibotones" style="float:left;width:60px;background-color: {{page.theme.color}};opacity: 0.90;height: 177px;padding-top: 83px;" >
		<div class="botonlogo">
			<p style="text-align:center">
				<a title="Home page" href="javascript:void(0)"> <img src="{{asset('front/images/mensaje.png')}}" style="width:35px;"> </a>
			</p>
		</div>
		<div class="botonlogo">
			<p style="text-align:center">
				<a title="Home page" href="javascript:void(0)"> <img src="{{asset('front/images/usuario.png')}}" style="width:35px;"> </a>
			</p>
		</div>
		<div class="botonlogo">
			<p style="text-align:center">
				<a title="Home page" href="javascript:void(0)"> <img src="{{asset('front/images/buscar.png')}}" style="width:35px;"> </a>
			</p>
		</div>
		<div class="botonlogo">
			<p style="text-align:center">
				<a title="Home page" href="javascript:void(0)"> <img src="{{asset('front/images/listado.png')}}" style="width:35px;"> </a>
			</p>
		</div>
	</div>
	<div class="logo-imagen" style="float:left;background-color: {{page.theme.color}};opacity: 0.90;" >
		<a title="Home page" href="{{path('project_front_homepage')}}"> <img src="{{asset('front/images/logo.png')}}" style="padding: 15px;"> </a>
	</div>
</div>