<div class="menu" style="float:left;width: 260px;margin-top: 20px; margin-left:80px;">
    {% set p = 0 %}
    {%for object in items if object.tipo == 0%}
    {% set p = p + 1 %}
    {%if p==1%}
        <div class="menu-element1">
    {%else%}
        <div class="menu-element">
    {%endif%}
        <a id="page" href="{{path('project_front_page',{'id': object.page.id, 'friendlyname' : object.page.friendlyName})}}"> {{object.page.name|title}}
        </a> 
    </div>
    {%endfor%}
    {% set c = 0 %}
    {%for object in items if object.tipo == 1%}
    {% set c = c + 1 %}
    <div class="menu-element" {%if c==1%} style="margin-top:5px;" {%endif%}>
        <a id="category" href="{{path('project_front_category',{'id': object.category.id, 'friendlyname' : object.category.friendlyName})}}"> {{object.category.name|title}}
        </a> 
    </div>
    {%endfor%}
    {#
    {%for object in items%}
        {%if object.tipo != 2%}
        <div class="menu-element">
            {% if object.tipo == 0 %}
               <a id="page" href="{{path('project_front_page',{'id': object.page.id, 'friendlyname' : object.page.friendlyName})}}"> {{object.page.name|title}}
               </a> 
            {%else%} 
               <a id="category" href="{{path('project_front_category',{'id': object.category.id, 'friendlyname' : object.category.friendlyName})}}"> {{object.category.name|title}}
               </a> 
            {%endif%}
        </div>
        {%else%}
        <div class="menu-element spacer"></div>
        {%endif%}
    {%endfor%}
    #}
</div>
<div class="creditos" style="padding-top: 544px;">
    <a title="Realego" href="http://realego.es/"> <img src="{{asset('front/images/realego.png')}}" > </a>
</div>