
	<div class="menu" style="float:left;width: 324px;margin-top: 45px;">
		{%for object in items%}
		{%if object.tipo != 2%}
		<div class="menu-element">
			{% if object.tipo == 0 %}
			   <a href="{{path('project_front_page',{'id': object.page.id, 'friendlyname' : object.page.friendlyName})}}"> {{object.page.name|title}}
			   </a> 
			   {%if idpage == object.page.id%}
			   <hr class="men-sel" style="background-color: {{object.page.theme.color}};width: 304px;">
			   {%endif%}
			{%else%} 
			   <a href="{{path('project_front_category',{'id': object.category.id, 'friendlyname' : object.category.friendlyName})}}"> {{object.category.name|title}}
			   </a> 
			   {%if idpage == object.category.id%}
			   <hr class="men-sel" style="background-color: {{object.category.theme.color}};width: 304px;"> 
			   {%endif%}
			{%endif%}
		</div>
		{%else%}
		<div class="menu-element spacer"></div>
		{%endif%}
		{%endfor%}
	</div>


	<div class="creditos" style="padding-top: 544px;">
	     <a title="Realego" href="http://realego.es/"> <img src="{{asset('front/images/realego.png')}}" > </a>
	</div>