<div class="menu-hidden">
    <div class="logo" style="margin-top: 0px;">
        <a title="Home page" href="{{path('project_front_homepage')}}"> <img id="logo-image" src="{{asset('front/images/logo-movible.gif')}}"> </a>
    </div>
    <div style="text-align: center;padding-top: 105px;" id="menuobligado">
       	<ul id="menu" style="display:none">
			  <li><a class="scroll" href="#features">Mensaje</a></li>
			<li><a class="scroll" href="#usage">Login</a></li>
			<li><a class="scroll" href="#examples">Busqueda</a></li>
			<li><a href="http://github.com">Newsletter</a></li>
			<li><a href="http://github.com">Direccion</a></li>
			<li><a href="http://github.com">RSS</a></li>
		</ul>
    </div>
	<div style="text-align: center;padding-top: 105px;" id="menuobligado2">
		
		<ul id="menu2" style="display:none;">
            {%for object in items%}
                {%if object.tipo != 2%}
                    <li>
                        {% if object.tipo == 0 %}
                           <a href="{{path('project_front_page',{'id': object.page.id, 'friendlyname' : object.page.friendlyName})}}"> {{object.page.name|title}}
                           </a> 
                        {%else%} 
                           <a href="{{path('project_front_category',{'id': object.category.id, 'friendlyname' : object.category.friendlyName})}}"> {{object.category.name|title}}
                           </a> 
                        {%endif%}
                    </li>
                {%endif%}
            {%endfor%}
        </ul>
	</div>
	 <div style="text-align: center;padding-top: 105px;" id="menuobligado3">
		<ul id="menu3" style="display:none;">
			<li><a class="scroll" href="#features">Features</a></li>
			<li><a class="scroll" href="#usage">Usage Instructions</a></li>
			<li><a class="scroll" href="#examples">Examples</a></li>
			<li><a href="http://github.com">View on Github</a></li>
		</ul>
	</div>
	
</div>