<div class="menu-cont">
	<div class="menu" {#style="width: 144px;"#}>
		
		<div class="menu-element">
				<a href="{{path('project_front_homepage')}}">Inicio</a>
		</div>

	{%for object in objects%}
		{%if object.name|upper != 'SPACER'%}
			<div class="menu-element">
				<a href="{{path('project_front_page',{'id': object.id, 'friendlyname' : object.friendlyName})}}">{{object.name|upper}}</a>
				{%if idpage == object.id%}
					<hr class="men-sel" style="background-color: {{object.theme.color}}">
				{%endif%}
			</div>
		{%else%}
			<div class="menu-element spacer"></div>
		{%endif%}
	{%endfor%}
		
		
	
		<div class="designed-menu">
			<div class="designed" style="bottom: 0px;">
				<div style="margin-bottom: 8px;">
					<span class="search"><input type="text" placeholder="buscar..." style="width: 93px;"  id="termino"><button style="cursor:pointer" id="buscarTermino">Buscar</button></span>
				</div>
				<div>
					<span class="copyrighted">Copyrights © Efimeras</span>
				</div>
				<div>
					<p><a href="http://realego.es/" target="_blank"><img src="{{asset('front/design.png')}}"></a></p>
				</div>
			</div>
		</div>
	</div>
</div>
