<div class="tags">
{%if page.template==1 %}
     {%for element in tags%}
        {%set tipo =  random(3)  %}
        {%if tipo == 0%}
            <span>
              <a href="{{path('project_front_tag',{'tag': element})}}" style="color:{{page.theme.color}}">{{element}}</a>
            </span>
        {%elseif tipo==1%}
         <span>
              <a href="{{path('project_front_tag',{'tag': element})}}" style="color:white">{{element}}</a>
         </span>
        {%elseif tipo==2%}
         <span><b>
              <a href="{{path('project_front_tag',{'tag': element})}}" style="color:{{page.theme.color}}">{{element}}</a>
              </b>
         </span>
        {%else%}
         <span><b>
         <a href="{{path('project_front_tag',{'tag': element})}}" style="color:white">{{element}}</a>
         </b>
         </span>
         {%endif%}
     {%endfor%}
{%else%}
<div class="menu" style="width: 130px;">
   {%for element in tags%}
  <div class="menu-element">
      <a href="{{path('project_front_tag',{'tag': element})}}"> {{element}}</a>
  </div> 
   {%endfor%}
</div>
{%endif%}
</div>