<tr id="fila_{{element.id}}">
	<td >{{element.id}}</td>
	<td style="background-color:{{element.color}}">{{element.color}}</td>
	<td >{{element.name}}</td>
	<td class="hidden-phone">{{element.description}}</td>
    {% include 'ProjectBackBundle:Helpers:listado-status-edit-delete.html.twig'  with {'tipo':'Theme','rutaEditar':'project_back_theme_edit'}  %}
</tr>