{% extends '::base.html.twig' %}

{% block pagesScriptsBottom %}

<script src="{{asset('admin/js/jquery-ui-1.10.3.custom.min.js')}}"></script>
<script src="{{asset('admin/js/jquery.ui.touch-punch.min.js')}}"></script>
<script src="{{asset('admin/js/chosen.jquery.min.js')}}"></script>
<script src="{{asset('admin/js/fuelux/fuelux.spinner.min.js')}}"></script>
<script src="{{asset('admin/js/date-time/bootstrap-datepicker.min.js')}}"></script>
<script src="{{asset('admin/js/date-time/bootstrap-timepicker.min.js')}}"></script>
<script src="{{asset('admin/js/date-time/moment.min.js')}}"></script>
<script src="{{asset('admin/js/date-time/daterangepicker.min.js')}}"></script>
<script src="{{asset('admin/js/bootstrap-colorpicker.min.js')}}"></script>
<script src="{{asset('admin/js/jquery.knob.min.js')}}"></script>
<script src="{{asset('admin/js/jquery.autosize-min.js')}}"></script>
<script src="{{asset('admin/js/jquery.inputlimiter.1.3.1.min.js')}}"></script>
<script src="{{asset('admin/js/jquery.maskedinput.min.js')}}"></script>
<script src="{{asset('admin/js/bootstrap-tag.min.js')}}"></script>

<script src="{{asset('admin/js/markdown/markdown.min.js')}}"></script>
<script src="{{asset('admin/js/markdown/bootstrap-markdown.min.js')}}"></script>
<script src="{{asset('admin/js/jquery.hotkeys.min.js')}}"></script>
<script src="{{asset('admin/js/bootstrap-wysiwyg.min.js')}}"></script>
<script src="{{asset('admin/js/bootbox.min.js')}}"></script>

<script type="text/javascript">
	if ("ontouchend" in document)
		document.write("<script src='assets/js/jquery.mobile.custom.min.js'>" + "<" + "/script>");
</script>

{%endblock%}

{% block pageContent  %}
<div class="main-container container-fluid" id="sinlogin">
	<a class="menu-toggler" id="menu-toggler" href="#"> <span class="menu-text"></span> </a>

	{% include '::sidebar.html.twig'  with {'clase': 'gris'}  %}

	<div class="main-content">

		{# include 'ProjectBackBundle:Architecture:breadcrumb.html.twig'  with {'clase': 'gris'} #}
		<div class="page-content">
			<div class="page-header position-relative">
				<h1> Fondos <small> <i class="icon-double-angle-right"></i> {%if accion=='nuevo'%}Subir nuevo{%else%}Editar{%endif%} </small></h1>
			</div><!--/.page-header-->

			<form action="{{ url }}" {{ form_enctype(form) }} method="POST" class="form-horizontal">
			{{ form_start(form) }}
								
				<div class="control-group">
					<label class="control-label" for="form-field-1">Nombre</label>

					<div class="controls">
						{{ form_widget(form.name, { 'attr': {'placeholder': 'Nombre'} }) }}
					</div>
				</div>
				<div class="control-group">
					<label class="control-label" for="form-field-1">Archivo</label>

					<div class="controls">
						{{ form_widget(form.file, { 'attr': {'accept':'image/*'} }) }}
					</div>
				</div>
				<div class="control-group">
					<label class="control-label">En el inicio</label>
					<div class="controls">
						<div class="row-fluid">
							<div class="span3">
								<label>
									{{ form_widget(form.home, { 'attr': {'class':'ace-switch'} }) }}
									<span class="lbl"></span>
								</label>
							</div>
						</div>
					</div>
				</div>
				<div class="form-actions">
					{{ form_widget(form.save) }}

					&nbsp; &nbsp; &nbsp;
					<button class="btn" type="reset">
						<i class="icon-undo bigger-110"></i>
						Reset
					</button>
				</div>

				<div class="space-4"></div>
                {{ form_end(form) }}
			</form>
		</div><!--/.page-content-->

	</div><!--/.main-content-->
</div><!--/.main-container-->

{%endblock%}