<div class="sidebar" id="sidebar">
	<div class="sidebar-shortcuts" id="sidebar-shortcuts">
		<div class="sidebar-shortcuts-large" id="sidebar-shortcuts-large">
			<button class="btn btn-small btn-success" onclick="document.location.href='{{path('project_front_homepage')}}';">
				<i class="icon-home"></i>
			</button>

			<button class="btn btn-small btn-info">
				<i class="icon-pencil"></i>
			</button>

			<button class="btn btn-small btn-warning">
				<i class="icon-group"></i>
			</button>

			<button class="btn btn-small btn-danger">
				<i class="icon-cogs"></i>
			</button>
		</div>

		<div class="sidebar-shortcuts-mini" id="sidebar-shortcuts-mini">
			<span class="btn btn-success"></span>

			<span class="btn btn-info"></span>

			<span class="btn btn-warning"></span>

			<span class="btn btn-danger"></span>
		</div>
	</div><!--#sidebar-shortcuts-->

	<ul class="nav nav-list">

		{% if is_granted("IS_AUTHENTICATED_REMEMBERED") == false%}
		<li {% if app.request.attributes.get('_route') == 'fos_user_security_login' %}class="active"{%endif%}>
			<a href="{{ path('fos_user_security_login') }}" > <i class="icon-key"></i> <span class="menu-text"> Iniciar sesión </span> </a>
		</li>
		<li {% if app.request.attributes.get('_route') == 'fos_user_registration_register' %}class="active"{%endif%}>
			<a href="{{ path('fos_user_registration_register') }}"> <i class="icon-group"></i> <span class="menu-text"> Registro </span> </a>
		</li>
		{%else%}
		<li {% if app.request.attributes.get('_route') == 'project_back_homepage' %}class="active"{%endif%}>
			<a href="{{ path('project_back_homepage') }}"> <i class="icon-dashboard"></i> <span class="menu-text"> Panel de Control </span> </a>
		</li>
		<li {% if app.request.attributes.get('_route') == 'project_back_page_list' or  app.request.attributes.get('_route') == 'project_back_page_create' or  app.request.attributes.get('_route') == 'project_back_page_rank' %}class="open"{%endif%}>
			<a href="#" class="dropdown-toggle"> <i class="icon-desktop"></i> <span class="menu-text"> Paginas </span> <b class="arrow icon-angle-down"></b> </a>

			<ul class="submenu" {% if app.request.attributes.get('_route') == 'project_back_page_list' or  app.request.attributes.get('_route') == 'project_back_page_create' or  app.request.attributes.get('_route') == 'project_back_page_rank' %}  style="display: block;"{%endif%}>
				<li {% if app.request.attributes.get('_route') == 'project_back_page_list' %}class="active"{%endif%}>
					<a href="{{path('project_back_page_list')}}"> <i class="icon-double-angle-right"></i> Ver paginas </a>
				</li>
				<li {% if app.request.attributes.get('_route') == 'project_back_page_create' %}class="active"{%endif%}>
					<a href="{{path('project_back_page_create')}}"> <i class="icon-double-angle-right"></i> Crear pagina</a>
				</li>
				<li  {% if app.request.attributes.get('_route') == 'project_back_page_rank' %}class="active"{%endif%}>
					<a href="{{path('project_back_page_rank')}}"> <i class="icon-double-angle-right"></i> Ordenar paginas</a>
				</li>
			</ul>
		</li>
		<li {% if app.request.attributes.get('_route') == 'project_back_category_list' or  app.request.attributes.get('_route') == 'project_back_category_create' or  app.request.attributes.get('_route') == 'project_back_category_rank' %}class="open"{%endif%}>
			<a href="#" class="dropdown-toggle"> <i class="icon-folder-open"></i> <span class="menu-text"> Categoría </span> <b class="arrow icon-angle-down"></b> </a>

			<ul class="submenu" {% if app.request.attributes.get('_route') == 'project_back_category_list' or  app.request.attributes.get('_route') == 'project_back_category_create' or  app.request.attributes.get('_route') == 'project_back_category_rank' %}  style="display: block;"{%endif%}>
				<li {% if app.request.attributes.get('_route') == 'project_back_category_list' %}class="active"{%endif%}>
					<a href="{{path('project_back_category_list')}}"> <i class="icon-double-angle-right"></i> Ver categorías </a>
				</li>
				<li {% if app.request.attributes.get('_route') == 'project_back_category_create' %}class="active"{%endif%}>
					<a href="{{path('project_back_category_create')}}"> <i class="icon-double-angle-right"></i> Crear categoría</a>
				</li>
			</ul>
		</li>
		<li {% if app.request.attributes.get('_route') == 'project_back_background_list' or  app.request.attributes.get('_route') == 'project_back_background_create' %} class="open"{%endif%}>
			<a href="#" class="dropdown-toggle"> <i class="icon-camera"></i> <span class="menu-text"> Fondos </span> <b class="arrow icon-angle-down"></b> </a>

			<ul class="submenu" {% if app.request.attributes.get('_route') == 'project_back_background_list' or  app.request.attributes.get('_route') == 'project_back_background_create' %} style="display: block;"{%endif%}>

				<li {% if app.request.attributes.get('_route') == 'project_back_background_list' %}class="active"{%endif%}>
					<a href="{{path('project_back_background_list')}}"> <i class="icon-double-angle-right"></i> Ver fondo </a>
				</li>

				<li {% if app.request.attributes.get('_route') == 'project_back_background_create' %}class="active"{%endif%}>
					<a href="{{path('project_back_background_create')}}"> <i class="icon-double-angle-right"></i> Subir fondo </a>
				</li>
			</ul>
		</li>
		<li {% if app.request.attributes.get('_route') == 'project_back_theme_list' or  app.request.attributes.get('_route') == 'project_back_theme_create' %} class="open"{%endif%}>
			<a href="#" class="dropdown-toggle"> <i class="icon-leaf"></i> <span class="menu-text"> Temas </span> <b class="arrow icon-angle-down"></b> </a>

			<ul class="submenu" {% if app.request.attributes.get('_route') == 'project_back_theme_list' or  app.request.attributes.get('_route') == 'project_back_theme_create' %} style="display: block;"{%endif%}>

				<li {% if app.request.attributes.get('_route') == 'project_back_theme_list' %}class="active"{%endif%}>
					<a href="{{path('project_back_theme_list')}}"> <i class="icon-double-angle-right"></i> Ver temas </a>
				</li>

				<li {% if app.request.attributes.get('_route') == 'project_back_theme_create' %}class="active"{%endif%}>
					<a href="{{path('project_back_theme_create')}}"> <i class="icon-double-angle-right"></i> Crear tema </a>
				</li>
			</ul>
		</li>
		<li {% if app.request.attributes.get('_route') == 'project_back_reservation_list' %}class="active"{%endif%}>
			<a href="{{ path('project_back_reservation_list') }}" > <i class="icon-heart-empty"></i> <span class="menu-text"> Reservas </span> </a>
		</li>

		{#<li>
			<a href="#" class="dropdown-toggle"> <i class="icon-camera-retro"></i> <span class="menu-text"> Imagenes </span> <b class="arrow icon-angle-down"></b> </a>

			<ul class="submenu">
				<li>
					<a href="form-elements.html"> <i class="icon-double-angle-right"></i> Ver imagenes </a>
				</li>

				<li>
					<a href="form-wizard.html"> <i class="icon-double-angle-right"></i> Subir imagen </a>
				</li>
			</ul>
		</li>
		<li>
			<a href="#" class="dropdown-toggle"> <i class="icon-download"></i> <span class="menu-text"> Archivos </span> <b class="arrow icon-angle-down"></b> </a>

			<ul class="submenu">
				<li>
					<a href="form-elements.html"> <i class="icon-double-angle-right"></i> Ver archivos </a>
				</li>

				<li>
					<a href="form-wizard.html"> <i class="icon-double-angle-right"></i> Subir archivo </a>
				</li>
			</ul>
		</li>#}
		<li {% if app.request.attributes.get('_route') == 'fos_user_profile_show' %}class="active"{%endif%}>
			<a href="{{ path('fos_user_profile_show') }}"> <i class="icon-eye-open"></i> <span class="menu-text"> Mi Perfil </span> </a>
		</li>
		<li {% if app.request.attributes.get('_route') == 'fos_user_profile_edit' %}class="active"{%endif%}>
			<a href="{{ path('fos_user_profile_edit') }}"> <i class="icon-edit"></i> <span class="menu-text"> Editar Perfil </span> </a>
		</li>
		<li >
			<a href="{{ path('fos_user_security_logout') }}"> <i class="icon-off"></i> <span class="menu-text"> Cerrar sesión </span> </a>
		</li>
		{%endif%}


		



{#
		<li>
			<a href="widgets.html"> <i class="icon-list-alt"></i> <span class="menu-text"> Widgets </span> </a>
		</li>

		<li>
			<a href="calendar.html"> <i class="icon-calendar"></i> <span class="menu-text"> Calendar <span class="badge badge-transparent tooltip-error" title="2&nbsp;Important&nbsp;Events"> <i class="icon-warning-sign red bigger-130"></i> </span> </span> </a>
		</li>

		<li>
			<a href="gallery.html"> <i class="icon-picture"></i> <span class="menu-text"> Gallery </span> </a>
		</li>

		<li>
			<a href="#" class="dropdown-toggle"> <i class="icon-tag"></i> <span class="menu-text"> More Pages </span> <b class="arrow icon-angle-down"></b> </a>

			<ul class="submenu">
				<li>
					<a href="profile.html"> <i class="icon-double-angle-right"></i> User Profile </a>
				</li>

				<li>
					<a href="pricing.html"> <i class="icon-double-angle-right"></i> Pricing Tables </a>
				</li>

				<li>
					<a href="invoice.html"> <i class="icon-double-angle-right"></i> Invoice </a>
				</li>

				<li>
					<a href="login.html"> <i class="icon-double-angle-right"></i> Login &amp; Register </a>
				</li>
			</ul>
		</li>

		<li>
			<a href="#" class="dropdown-toggle"> <i class="icon-file-alt"></i> <span class="menu-text"> Other Pages <span class="badge badge-primary ">4</span> </span> <b class="arrow icon-angle-down"></b> </a>

			<ul class="submenu">
				<li>
					<a href="error-404.html"> <i class="icon-double-angle-right"></i> Error 404 </a>
				</li>

				<li>
					<a href="error-500.html"> <i class="icon-double-angle-right"></i> Error 500 </a>
				</li>

				<li>
					<a href="grid.html"> <i class="icon-double-angle-right"></i> Grid </a>
				</li>

				<li>
					<a href="blank.html"> <i class="icon-double-angle-right"></i> Blank Page </a>
				</li>
			</ul>
		</li>#}
	</ul><!--/.nav-list-->

	<div class="sidebar-collapse" id="sidebar-collapse">
		<i class="icon-double-angle-left"></i>
	</div>
</div>