<tr id="fila_{{element.id}}">
	<td >{{element.id}}</td>
	<td >{{element.name}}</td>
	<td class="hidden-phone">{{element.user.name}}</td>

	<td width="79" height="79" class="hidden-480"> {%if element.background is not null%} <a href="{{asset(''~ element.background.getWebPath ~'')}}"> <img src="{{ element.background.getWebPath | apply_filter('gestion') }}" width="80" height="80"> </a></br>{{element.background.name|title}}
	{%endif%} </td>
	<td width="79" height="79" class="hidden-phone" style="background-color:{{ element.theme.color}}"> {%if element.theme is not null%} {{element.theme.name}}
	{%endif%} 
    </td>

	<td class="hidden-phone">{{element.created.format('d/m/Y H:i:s')}}</td>
	<td class="hidden-phone">{{element.updated.format('d/m/Y H:i:s')}}</td>

    {% include 'ProjectBackBundle:Helpers:listado-status-edit-delete.html.twig'  with {'tipo':'Page','rutaEditar':'project_back_page_edit', 'rutaMostrar':'project_back_page_show'}  %}
</tr>