{% extends '::base.html.twig' %}

{% block pagesScriptsBottom %}
{%endblock%}

{% block pageContent %}
<div class="main-container container-fluid" id="sinlogin">
    <a class="menu-toggler" id="menu-toggler" href="#"> <span class="menu-text"></span> </a>

    {% include '::sidebar.html.twig'  with {'clase': 'gris'}  %}

    <div class="main-content">

        {# include 'ProjectBackBundle:Architecture:breadcrumb.html.twig'  with {'clase': 'gris'} #}
        <div class="page-content">
            {% include 'ProjectBackBundle:Page:page-header.html.twig' with {'subtitulo':'Vista detallada'} %}

            <div class="row-fluid">
                <div class="span12">
                    <!--PAGE CONTENT BEGINS-->
                    <!--PAGE CONTENT BEGINS-->
                    <div class="row-fluid">
                        <div class="span12">
    <table id="sample-table-1" class="table table-striped table-bordered table-hover">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ element.id }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ element.name }}</td>
            </tr>
            <tr>
                <th>Descripci&oacute;n Meta</th>
                <td>{{ element.descriptionMeta }}</td>
            </tr>
            <tr>
                <th>Palabras claves</th>
                <td>{{ element.keywords }}</td>
            </tr>
            <tr>
                <th>Texto cabecera</th>
                <td>{{ element.upperText }}</td>
            </tr>
            <tr>
                <th>Texto inferior</th>
                <td>{{ element.lowerText }}</td>
            </tr>
            <tr>
                <th>Etiquetas</th>
                <td>{{ element.tags }}</td>
            </tr>
            <tr>
                <th>Pre-Inscripción</th>
                <td>{{ element.reservacion }}</td>
            </tr>
            <tr>
                <th>Plantilla Tags</th>
                <td>{{ element.template }}</td>
            </tr>
            <tr>
                <th>Plantilla Menus</th>
                <td>{{ element.templateMenu }}</td>
            </tr>
            {#
            <tr>
                <th>Menu</th>
                <td>{{ element.menu.name }}</td>
            </tr>
            #}
            <tr>
                <th>Publicado</th>
                <td>{{ element.published }}</td>
            </tr>
            {#
            <tr>
                <th>Nombre</th>
                <td>{{ element.content }}</td>
            </tr>
            #}
            <tr>
                <th>Fondo</th>
                <td>{{ element.background.name }}</td>
            </tr>
            <tr>
                <th>Tema</th>
                <td>{{ element.theme.name }}</td>
            </tr>
            <tr>
                <th>Colocar video Youtube / Vimeo</th>
                <td>
                    {% if element.optionYoutube == 1%}
                    Si
                    {%else%}
                    No
                    {%endif%}
                </td>
            </tr>
            {% if element.optionYoutube == 1%}
            <tr>
                <th>Link Youtube / Vimeo</th>
                <td>{{ element.linkYoutube }}</td>
            </tr>
            {%endif%}
            {#
            <tr>
                <th>Categoria</th>
                <td>{{ element.category.name }}</td>
            </tr>
            #}
            <tr>
                <td colspan="2">
                    <a class="btn btn-primary" target="_blank" href="{{path('project_front_page',{'id': element.id, 'friendlyname' : element.friendlyName})}}">Vista Preliminar</a>
                </td>
            </tr>
        </tbody>
    </table>
    </div><!--/span-->
                    </div><!--/row-->
                    <div class="hr hr-18 dotted hr-double"></div>
                    <!--PAGE CONTENT ENDS-->
                </div><!--/.span-->
            </div><!--/.row-fluid-->
        </div><!--/.page-content-->
    </div><!--/.main-content-->
</div><!--/.main-container-->
{% endblock %}
