{% trans_default_domain 'FOSUserBundle' %}

<form  action="{{ path("fos_user_security_check") }}" method="post"/>
<input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
{% if error %}
<div style="margin-top: 12px;font-weight: bold;">
	<p>{{ error|trans }}</p>
</div>
{% endif %}
<div style="margin-top: 12px;font-weight: bold;">
	<p>Usuario</p>
	<input type="text"  name="_username" value="{{ last_username }}" placeholder="{{ last_username }}" required="required"  style="width: 95%;border: none;" class="form-reservacion" />
</div>
<div style="margin-top: 12px;font-weight: bold;">
	<p>Contraseña</p>
	<input type="password" id="password" name="_password" required="required" style="width: 95%;border: none;" class="form-reservacion"/>
</div>
<div style="margin-top: 12px;">
	<input type="submit" value="Acceder" style="background: #000000;border: none;color: white;float: right;margin-right: 15px;font-weight: bolder;">
	<input type="hidden" name="_target_path" value="/dashboard"  />
</div>
{#<div style="margin-top: 35px;">
	<p style="font-size:0.8em;float:right;margin-right: 15px;">¿No tiene cuenta? Registrate ahora</p>
</div>#}
</form>

