{% extends "ProjectFrontBundle:Helpers:body.html.twig" %}

{%block imagenes%}
var images = ["{{ asset(''~ page.getBackground.getWebPath ~'') }}"];
{%endblock%}

{%block contenido%}
<div class="middle-right-sub" style="float: left;padding-top: 1px;margin-left: 405px;">
	{% include 'ProjectFrontBundle:Helpers:controller-menuMobile.html.twig' %}
	<div class="news-cont" style="margin-left: 25px;{%if page.template==0%}width: 800px;{%endif%}">
		<div class="news-cell" style="padding: 14px;">
			<h2 style="color: {{page.theme.color}};"> {{page.name|title}} </h2>
			{%if page.path is not null%}
			<p>
				<img src="{{asset(page.getWebPath)}}" style="width:100%;margin-top:20px;margin-bottom:10px;">
			</p>
			{%else%}
			</br>
			{%endif%}

			{{page.content|raw}}

			</br>
		</div>
	</div>
	{%for element in page.pages%}
	<div class="news-cont" style="margin-left: 25px;{%if page.template==0%}width: 800px;{%endif%}">
		<div class="news-cell" style="padding: 14px;">
			<table cellpadding="12" id="contenido-pagina" style="width: 100%;">
				<tr width="100%">
					<td  width="30%" valign="top" colspan="3">
					<p>
						<img src="{{asset(element.getWebPath)}}" style="width: 140px;">
					</p></td>
					<td  width="70%" valign="top" colspan="3"><h2 style="color: {{page.theme.color}};"> {{element.name|title}} </h2>
					<p>
						{{element.content|raw}}
					</p>
					<p style="color: {{page.theme.color}};float:right">
						<a href="{{path('project_front_page',{'id': element.id, 'friendlyname' : element.friendlyName})}}"> Leer más... </a>
					</p></td>
				</tr>
			</table>
		</div>
	</div>
	{%endfor%}
	<div class="news-cont"  style="margin-left: 25px;height: 0px;padding: 0px;{%if page.template==0%}width: 800px;{%endif%}"></div>
	{% include 'ProjectFrontBundle:Helpers:inferior.html.twig' %}
</div>
{%if page.template==1 and page.templateMenu==0%}
{% include 'ProjectFrontBundle:Helpers:nube.html.twig' %}
{%endif%}
{%if page.templateMenu==1 and page.menu is not null%}
{% include 'ProjectFrontBundle:Helpers:menu-lateral.html.twig' %}
{%endif%}
{%endblock%}