{% extends "ProjectFrontBundle:Helpers:body.html.twig" %}

{%block imagenes%}
var images = ["{{ asset(''~ page.getBackground.getWebPath ~'') }}"];
{%endblock%}

{%block contenido%}
<div class="middle-right-sub" style="float: left;padding-top: 1px;margin-left: 402px;">
	{% include 'ProjectFrontBundle:Helpers:controller-menuMobile.html.twig' %}
	<div class="news-cont" style="margin-left: 20px;{%if page.template==0%}width: 800px;{%endif%}">
		<div class="news-cell" style="padding: 0px;">
			<h2 style="color: {{page.theme.color}};"> {{page.name|title}} </h2>
			{%if page.path is not null%}
			<p>
				<img src="{{asset(page.getWebPath)}}" style="width:100%;margin-top:20px;margin-bottom:10px;">
			</p>
			
			{%endif%}

			{%if page.optionYoutube == 1%}
			<p>
				<iframe width="420" height="345" 
				src="{{page.linkYoutube |replace({'https://www.youtube.com/watch?v=': 'https://www.youtube.com/v/', 'http://www.youtube.com/watch?v=': 'http://www.youtube.com/v/', 'http://vimeo.com/': 'http://player.vimeo.com/video/', 'https://vimeo.com/': 'https://player.vimeo.com/video/'})}}"
				style="width:100%;margin-top:20px;margin-bottom:10px;">
				</iframe>
			</p>
			
			{%endif%}

			{% if page.content != "" %}
			{{ page.content|raw }}
			
			{%endif%}

			<!--Inicio--><br><!--Final-->
		</div>
	</div>
	{#
	{%for element in page.pages%}
	<div class="news-cont" style="margin-left: 25px;{%if page.template==0%}width: 800px;{%endif%}">
		<div class="news-cell" style="padding: 14px;">
			<table cellpadding="12" id="contenido-pagina" style="width: 100%;">
				<tr width="100%">
					<td  width="30%" valign="top" colspan="3">
					<p>
						<img src="{{asset(element.getWebPath)}}" style="width: 140px;">
					</p></td>
					<td  width="70%" valign="top" colspan="3"><h2 style="color: {{page.theme.color}};"> {{element.name}} </h2>
					<p>
						{{element.content|raw}}
					</p>
					<p style="color: {{page.theme.color}};float:right">
						<a href="{{path('project_front_page',{'id': element.id, 'friendlyname' : element.friendlyName})}}"> Leer más... </a>
					</p></td>
				</tr>
			</table>
		</div>
	</div>
	{%endfor%}style="height:333px;width:500px;"
	#}
	{{ render(controller('ProjectFrontBundle:Default:noticias', { 'id': idpage, 'template': page.template , 'color': page.theme.color })) }}
	{# % include 'ProjectFrontBundle:Default:noticia.html.twig' with  {'variable' : '12'} % #}
	<div class="news-cont"  style="margin-left: 25px;height: 0px;padding: 0px;{%if page.template==0%}width: 800px;{%endif%}"></div>
</div>
{%if page.template==1 and page.templateMenu==0%}
{% include 'ProjectFrontBundle:Helpers:nube.html.twig' %}
{%endif%}
{%if page.templateMenu==1 and page.menu is not null%}
{% include 'ProjectFrontBundle:Helpers:menu-lateral.html.twig' %}
{%endif%}
{%endblock%}