{% extends "ProjectFrontBundle:Helpers:body.html.twig" %}

{%block imagenes%}
var images = ["{{ asset(''~ page.getBackground.getWebPath ~'') }}"];
{%endblock%}

{%block contenido%}
<div class="middle-right-sub">

	{{ render(controller('ProjectFrontBundle:Helpers:menuMobile')) }}
	{#<div class="upper-text" style="background-color: {#{theme.color} !important"></div>#}

	<div class="news-cont"  style="margin-left: 66px;{%if page.template==0%}width: 800px;{%endif%}">
		<h2 style="padding-left: 44px;color: {{page.theme.color}};"> {{page.name|title}} </h2>
		<div class="news-cell">
			<table cellpadding="12" id="contenido-pagina" style="width: 100%;">
				<tr width="100%">
					<td  width="100%" valign="top" colspan="3"> {{page.content|raw}}

					</br>
					{%if page.path is not null%}
					<div class="boton-listado boton-reservaciones" style="margin-top: 14px;margin-right: 0px;" >
						<a href="{{ asset(''~ page.getWebPath ~'') }}" target="_blank">{% trans %}Ver Adjunto{% endtrans %}</a>
					</div> {%endif%}
				
                   </td>
				</tr>

			</table>
		</div>
		<div class="lower-text"></div>
		{#<div class="lower-box" style="#right: 200px;"></div>
		#}
	</div>

	{%for element in page.pages%}
	<div class="news-cont"  style="margin-left: 66px;{%if page.template==0%}width: 800px;{%endif%}">

		<div class="news-cell">
			<table cellpadding="12" id="contenido-pagina" style="width: 100%;">

				<tr width="100%">
					<td  width="30%" valign="top" colspan="3">
					<p>
						<img src="{{asset(element.getWebPath)}}" style="width: 140px;">
					</p></td>
					<td  width="70%" valign="top" colspan="3"><h2 style="color: {{page.theme.color}};"> {{element.name|title}} </h2>
					<p>
						{{element.content|raw}}
					</p>
					<p style="color: {{page.theme.color}};float:right">
						<a href="{{path('project_front_page',{'id': element.id, 'friendlyname' : element.friendlyName})}}"> Leer más... </a>
					</p></td>
				</tr>
			</table>
		</div>
		<div class="lower-text"></div>
		{#<div class="lower-box" style="#right: 200px;"></div>
		#}
	</div>
	{%endfor%}

	{#
	<div class="main-big-title news-big-title" style="">
		<div class="theme-sel-10">
			{{page.name|title}}
		</div>
	</div>#}
	{% include 'ProjectFrontBundle:Helpers:inferior.html.twig' %}
</div>
{%endblock%}

{%block celda%} 
{%if page.template==1%}
{% include 'ProjectFrontBundle:Helpers:nube.html.twig' %}
{%else%}
<div class="cell-right-sub"></div>
{%endif%}
{%endblock%} 