{% extends "ProjectFrontBundle:Helpers:body.html.twig" %}

{%block imagenes%}

	var images =  new Array();
	{%for element in backgrounds%}
		images[{{loop.index0}}] = "{{ asset(''~ element.getWebPath ~'') }}";
	{%endfor%}

{%endblock%}

{%block contenido%}
<div class="middle-right-sub">

	{{ render(controller('ProjectFrontBundle:Helpers:menuMobile')) }}
	{#<div class="upper-text" style="background-color: {#{theme.color} !important"></div>#}
	
	<div class="news-cont">


		<div class="news-cell">
				<table cellpadding="12" id="contenido-pagina" style="width: 100%;">
					<tr width="100%">
						<td  width="100%" valign="top" colspan="3"> 
					<h2 style="color: {{page.theme.color}};">
						{{page.name|title}}
					</h2>

							{{page.content|raw}}

						</br>
						 </td>
					</tr>
				</table>
		</div>
		<div class="lower-text"></div>
		{#<div class="lower-box" style="#right: 200px;"></div>#}
	</div>
	{#
	<div class="main-big-title news-big-title" style="">
		<div class="theme-sel-10">
			{{page.name|title}}
		</div>
	</div>#}
	{% include 'ProjectFrontBundle:Helpers:inferior.html.twig' %}
</div>
{%endblock%}

{%block celda%} <div class="cell-right-sub"></div>
{%endblock%} 