{% extends "ProjectFrontBundle:Helpers:body.html.twig" %}

{%block imagenes%}
var images = ["{{ asset(''~ page.getBackground.getWebPath ~'') }}"];
{%endblock%}

{%block contenido%}
<div class="middle-right-sub" style="float: left;padding-top: 1px;margin-left: 402px;">
	{% include 'ProjectFrontBundle:Helpers:controller-menuMobile.html.twig' %}
	<div class="news-cont" style="margin-left: 20px;{%if page.template==0 and page.templateMenu==0 %}width: 800px;{%endif%}">
		<div class="news-cell" style="padding: 0px;">
			<h2 style="color: {{page.theme.color}};"> {{page.name|title}} </h2>
			{%if page.path is not null%}
			<p>
				<img src="{{asset(page.getWebPath)}}" style="width:100%;margin-top:20px;margin-bottom:10px;">
			</p>
			{%else%}
			</br>
			{%endif%}

			{{page.content|raw}}

			</br>
			{%if page.reservacion %}
			<div class="boton-listado boton-reservaciones" style="margin-top: 14px;margin-right: 0px;" >
				<a href="{{path('project_front_reservation',{'id': page.id})}}" >{% trans %}Reservar{% endtrans %}</a>
			</div>
			{%endif%}
		</div>
	</div>
	{% include 'ProjectFrontBundle:Helpers:inferior.html.twig' %}
</div>
{%if page.template==1 and  page.templateMenu==0%}
{% include 'ProjectFrontBundle:Helpers:nube.html.twig' %}
{%endif%}
{%if page.templateMenu==1 and page.menu is not null%}
{% include 'ProjectFrontBundle:Helpers:menu-lateral.html.twig' %}
{%endif%}
{%endblock%}