{% extends "ProjectFrontBundle:Helpers:body.html.twig" %}

{%block imagenes%}
var images =  new Array();
{%for element in backgrounds%}
images[{{loop.index0}}] = "{{ asset(''~ element.getWebPath ~'') }}";
{%endfor%}
{%endblock%}

{%block contenido%}
<div class="middle-right-sub" style="float: left;padding-top: 1px;margin-left: 402px;">
	{% include 'ProjectFrontBundle:Helpers:controller-menuMobile.html.twig' %}
	<div class="news-cont" style="margin-left: 20px;{%if page.template==0%}width: 800px;{%endif%}">
		<div class="news-cell" style="padding: 0px;">
			<h2 style="color: {{page.theme.color}};"> Pre-Inscripciones </h2>
			{%if message == ''%}
			<form action="{{ url }}" method="post" {{ form_enctype(form) }} id="form-reservaciones">
				
				<table style ="width: 100%;" id="contenido-pagina" CELLSPACING ="10">

					<tr >
						<td> {% trans %}Nombre{% endtrans %}: </td>
						<td> {{ form_widget(form.firstName, { 'attr': {'style': 'width: 100%;border: none;','class':'form-reservacion'} }) }} </td>
					</tr>
					<tr >
						<td> {% trans %}Apellido{% endtrans %}: </td>
						<td> {{ form_widget(form.lastName, { 'attr': {'style': 'width: 100%;border: none;','class':'form-reservacion'} }) }} </td>
					</tr>
					<tr  >
						<td> {% trans %}Correo Electrónico{% endtrans %}: </td>
						<td> {{ form_widget(form.email, { 'attr': {'style': 'width: 100%;border: none;','class':'form-reservacion'} }) }} </td>
					</tr>
					<tr>
						<td> {% trans %}Teléfono{% endtrans %}: </td>
						<td> {{ form_widget(form.phone, { 'attr': {'style': 'width: 100%;border: none;','class':'form-reservacion'} }) }} </td>
					</tr>
					<tr>
						<td> {% trans %}Nacionalidad{% endtrans %}: </td>
						<td> {{ form_widget(form.nationality, { 'attr': {'style': 'width: 100%;border: none;'} }) }} </td>
					</tr>
					<tr>
						<td> {% trans %}Formación{% endtrans %}: </td>
						<td> {{ form_widget(form.education, { 'attr': {'style': 'width: 100%;border: none;','class':'form-reservacion'} }) }} </td>
					</tr>
					<tr>
						<td colspan="2">
						<div class="boton-listado boton-reservaciones" style="margin-top: 14px;margin-right: 0px;" >
							<!--<a href="javascript:void(0);" id="botonReservaciones">{% trans %}Pre-Inscripción{% endtrans %}</a>-->
							<input type="submit" value="Pre-Inscripción">
						</div></td>
					</tr>
				</table>
			</form>
			{%else%}
			<p>
				{{message}}
			</p>
			{%endif%}
		</div>
	</div>
</div>
{%endblock%}