{% extends "ProjectFrontBundle:Helpers:body.html.twig" %}

{%block imagenes%}
var images = ["{{ asset(''~ page.getBackground.getWebPath ~'') }}"];
{%endblock%}

{%block contenido%}
<div class="middle-right-sub" style="float: left;padding-top: 1px;margin-left: 402px;">
	{% include 'ProjectFrontBundle:Helpers:controller-menuMobile.html.twig' %}
	<div class="news-cont1" style="margin-left: 3px; margin-top:22px;">
		<div class="news-cell1" style="padding: 4px;">
                    <h4 style="color: {{page.theme.color}}; margin-left: 15px;"> Resultados para {%if search==false%}Tag{%else%}el termino{%endif%}: {{tag}} </h4>
                </div>
                {%for element in objects%}
                    <div class="news-cell1" style="margin-top: 1px;">
                        <table cellpadding="12" id="contenido-pagina" style="width: 100%;">
                            <tr width="100%">
                                <td  width="10%" valign="top" >
                                    {%if element.path is not null%} 
                                        <a href="{{path('project_front_page',{'id': element.id, 'friendlyname' : element.friendlyName})}}"> 
                                            <img src="{{ element.getWebPath | apply_filter('gestion') }}" width="150" height="150"> 
                                        </a>
                                    {%endif%}
                                </td>
                                <td  width="90%" valign="top" >
                                    <a href="{{path('project_front_page',{'id': element.id, 'friendlyname' : element.friendlyName})}}"><h2 style="color: {{page.theme.color}}; font-size:1.4em"> {{element.name}} </h2></a>
                                    <h4> {{element.descriptionMeta}} </h4>
                                    <p style="margin-top:10px;">{{element.created.format('Y-m-d')}}</p>
                                </td>
                            </tr>
                        </table>
                    </div>
                {%endfor%}
            </div>
</div>
{%if page.template==1 and  page.templateMenu==0%}
{% include 'ProjectFrontBundle:Helpers:nube.html.twig' %}
{%endif%}
{%if page.templateMenu==1 and page.menu is not null%}
{% include 'ProjectFrontBundle:Helpers:menu-lateral.html.twig' %}
{%endif%}
{%endblock%}