<tr id="fila_{{element.id}}">
	<td >{{element.id}}</td>
	<td >{{element.page.name}}</td>
	<td >{{element.name}}</td>
	<td class="hidden-phone">{{element.phone}}</td>
	<td >{{element.email}}</td>
	<td >{{element.tickets}}</td>
	<td >{{element.rdate}}</td>
	<td class="hidden-phone">{{element.date.format('d/m/Y H:i:s')}}</td>
</tr>