{% extends '::base.html.twig' %}

{% block pagesScriptsBottom %}
<script ></script>
<script src="{{asset('admin/js/project/listados.js')}}"></script>
<script type="text/javascript">
	var direccionResponder = "{{path('project_back_page_edit')}}"; 
</script>
{%endblock%}

{% block pageContent  %}
<div class="main-container container-fluid" id="sinlogin">
	<a class="menu-toggler" id="menu-toggler" href="#"> <span class="menu-text"></span> </a>

	{% include '::sidebar.html.twig'  with {'clase': 'gris'}  %}

	<div class="main-content">

		{# include 'ProjectBackBundle:Architecture:breadcrumb.html.twig'  with {'clase': 'gris'} #}
		<div class="page-content">

			{# include 'ProjectBackBundle:Helpers:page-header.html.twig'  with {'titulo': 'Panel de control','subtitulo':'Vista de elementos'}  #}
			<div class="page-header position-relative">
				<h1> Reservas <small> <i class="icon-double-angle-right"></i> listado </small></h1>
			</div><!--/.page-header-->

			<div class="row-fluid">
				<div class="span12">
					<!--PAGE CONTENT BEGINS-->
					<!--PAGE CONTENT BEGINS-->
					{%if pagination.getTotalItemCount>0%}
					<div class="row-fluid">
						<div class="span12">
							<table id="sample-table-1" class="table table-striped table-bordered table-hover">
								<thead>
									<tr>
										<th>{{ knp_pagination_sortable(pagination, 'Id', 'o.id') }}</th>
										<th>{{ knp_pagination_sortable(pagination, 'Pagina', 'o.page') }}</th>
										<th>{{ knp_pagination_sortable(pagination, 'Nombre', 'o.name') }}</th>
										<th lass="hidden-phone">{{ knp_pagination_sortable(pagination, 'Telefono', 'o.phone') }}</th>
										<th>{{ knp_pagination_sortable(pagination, 'Email', 'o.email') }}</th>
										<th>{{ knp_pagination_sortable(pagination, 'Tickets', 'o.tickets') }}</th>
										<th>{{ knp_pagination_sortable(pagination, 'Fecha evento', 'o.rdate') }}</th>
										<th class="hidden-phone" style="width: 136px;"><i class="icon-time bigger-110 hidden-phone"></i> {{ knp_pagination_sortable(pagination, 'Fecha registro', 'o.date') }} </th>
									</tr>
								</thead>
								<tbody>
									{%for element in pagination %}
									<tr id="fila_{{element.id}}">
										<td >{{element.id}}</td>
										<td >{{element.page.name}}</td>
										<td >{{element.name}}</td>
										<td class="hidden-phone">{{element.phone}}</td>
										<td >{{element.email}}</td>
										<td >{{element.tickets}}</td>
										<td >{{element.rdate}}</td>
										<td class="hidden-phone">{{element.date.format('d/m/Y H:i:s')}}</td>
									</tr>
									{%endfor%}
								</tbody>
							</table>
							<div class="row-fluid">
								<div class="span6">
									<div class="dataTables_info" id="sample-table-2_info">
										{{ pagination.getTotalItemCount }} Resultados
									</div>
								</div>
								<div class="span6">
									<div class="dataTables_paginate paging_bootstrap pagination" style="margin: 0px;font-size: 18px;">
										{{ knp_pagination_render(pagination) }}
										{#
										<ul>
											<li class="prev disabled">
												<a href="#"><i class="icon-double-angle-left"></i></a>
											</li>
											<li class="active">
												<a href="#">1</a>
											</li>
											<li>
												<a href="#">2</a>
											</li>
											<li>
												<a href="#">3</a>
											</li>
											<li class="next">
												<a href="#"><i class="icon-double-angle-right"></i></a>
											</li>
										</ul>
										#}
									</div>
								</div>
							</div>

						</div><!--/span-->
					</div><!--/row-->
					<div class="hr hr-18 dotted hr-double"></div>
					{%else%}

					<div class="alert alert-error">
						<button type="button" class="close" data-dismiss="alert">
							<i class="icon-remove"></i>
						</button>

						<strong> <i class="icon-remove"></i> Lo sentimos... </strong>

						No se han encontrado resultados en esta busqueda.
						<br>
					</div>
					{%endif%}

					<!--PAGE CONTENT ENDS-->
				</div><!--/.span-->
			</div><!--/.row-fluid-->
		</div><!--/.page-content-->
	</div><!--/.main-content-->
</div><!--/.main-container-->

{%endblock%}